.form-fields
  %fieldset
    %legend The Idea

    - [:name, :description].each do |field|

      .control-group
        =f.label field, class: "control-label"

        .controls
          =f.text_field field, class: "text_field span6", required: true
          %span.help-inline
            =f.error_message_on field

  %fieldset
    %legend 3 Cool Things

    - 1.upto(3) do |i|
      - field = "cool_thing#{i}"

      .control-group
        =f.label field, class: "control-label"

        .controls
          =f.text_field field, class: "text_field span6", required: true
          %span.help-inline
            =f.error_message_on field

.form-actions
  = f.submit pat(:save), class: "btn btn-primary"
  = link_to pat(:cancel), url(:ideas, :index), class: "btn"
