.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description one sentense

.group
  =f.label :description
  =f.error_message_on :description
  =f.text_field :description, :class => :text_field
  %span.description has to be related to coding

.group
  =f.label :cool_things
  =f.error_message_on :cool_things
  =f.text_field :cool_things, :class => :text_field
  %span.description How cool is it ?


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:ideas, :index)}';return false", :class => :button
