.group
  =f.label "Topic in one sentense"
  =f.error_message_on :name
  =f.text_field :name, class: :text_field

.group
  =f.label :description
  =f.error_message_on :description
  =f.text_field :description, class: :text_field
  %span.description has to be related to coding

.group
  =f.label "3 cool things about this idea"
  =f.error_message_on :cool_things
  - @idea.cool_things.each do |cool_thing|
    = f.text_field :cool_thing

.group.navform.wat-cf
  =f.submit pat(:save), class: :button
  =f.submit pat(:cancel), onclick: "window.location='#{url(:ideas, :index)}';return false", class: :button
