.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:ideas, :index)
  .content
    %h2.title
      =pat(:edit)
      =mt(:idea)
    .inner
      -form_for :idea, url(:ideas, :update, :id => @idea.id), :method => :put, :class => :form do |f|
        =partial "ideas/form", :locals => { :f => f }
