.block
  .secondary-navigation.pull-right
    - if current_account.nil?
      =link_to "Register", register_path, class: "btn btn-large"
    - else
      =link_to "Propose idea", url(:ideas, :new), class: "btn btn-large"
  .content
    %h1 Ideas
    .stickies.row
      .ideas
        - @ideas.all.sort_by{ rand }.each do |idea|
          .span4.idea-note.sticky.rotating
              = link_to url(:ideas, :show, :id => idea.id) do
                %article
                  %h2= idea.name
                  %p= idea.description
              %span.voting-links.pull-right
                = up_vote_link(idea)


-content_for :javascripts do
  :javascript
    jQuery(function($){
      var $coders = $('.ideas');
      $coders.imagesLoaded(function(){
        $coders.masonry({
          itemSelector : '.idea-note'
        });
      });
    });
