.block
  .secondary-navigation.pull-right
    - if current_account.nil?
      =link_to "Register and Propose idea", '/auth/github', class: "btn btn-large"
    - else
      =link_to "Propose idea", url(:ideas, :new), class: "btn btn-large"
  .content
    %h2.title Ideas
    %ul.ideas-sticky-notes
      - @ideas.any? && @ideas.each do |idea|
        %li
          = link_to url(:ideas, :show, id: idea) do
            %h2= idea.name
            .idea-desc= idea.description
            .idea-proposed
            .idea-good-things
            .idea-proposed-date= idea.created_at.to_s(:short)
