.block
  .secondary-navigation.pull-right
    - if current_account.nil?
      =link_to "Register", register_path, class: "btn btn-large"
    - else
      =link_to "Propose idea", url(:ideas, :new), class: "btn btn-large"
  .content
    %h1 Ideas
    .stickies.row
      .ideas
        - @ideas.all.sort_by{ rand }.each do |idea|
          .span4.idea-note
            %a.sticky.rotating{href: url(:ideas, :show, id: idea)}
              %article
                %h2= idea.name
                %p= idea.description


-content_for :javascripts do
  :javascript
    jQuery(function($){
      var $coders = $('.ideas');
      $coders.imagesLoaded(function(){
        $coders.masonry({
          itemSelector : '.idea-note'
        });
      });
    });
