.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:ideas, :index)
      %li.active=link_to pat(:new), url(:ideas, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:idea)
    .inner
      -form_for :idea, url(:ideas, :create), :class => :form do |f|
        =partial "ideas/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
