.sticky {
  text-decoration: none;
  color: black;
  background: #ffffcc;
  display: block;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -ms-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -o-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7); }
  .sticky.rotating {
    height: 10em;
    -webkit-transition: -webkit-transform 0.15s linear;
    -moz-transition: -moz-transform 0.15s linear;
    -ms-transition: -ms-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    transition: transform 0.15s linear;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg); }
    .sticky.rotating:hover, .sticky.rotating:focus {
      -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
      -ms-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
      -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
      box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
      transform: scale(1.25);
      position: relative;
      z-index: 5; }

.coder {
  text-align: center;
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

body {
  margin-top: 60px;
  font-size: 1em;
  background: #dddddd; }

.panel, .banner {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px 20px 10px;
  background: white;
  border: 1px solid #dd4814; }

.panel header {
  margin-bottom: 5px;
  border-bottom: 2px dotted #dd4814; }
  .panel header h2 {
    margin-top: 0;
    margin-bottom: 0; }

.banner {
  padding: 10px 0px;
  border: 20px double #dd4814; }
  .banner h1, .banner h2, .banner h3, .banner h4 {
    margin: 30px 10px;
    text-align: center; }

.thumbnail {
  background: white; }

.schedule-overview {
  margin: 20px 0px; }
  .schedule-overview td {
    width: 200px;
    padding: 5px;
    border: solid 1px #996633;
    font-size: 1.1em;
    text-align: center; }

.homepage-action-buttons {
  text-align: center; }
  .homepage-action-buttons a {
    margin: 10px 20px;
    font-size: 2em; }
