.coder {
  text-align: center;
  -webkit-transition: -webkit-transform 0.15s linear;
  -moz-transition: -moz-transform 0.15s linear;
  -ms-transition: -ms-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  transition: transform 0.15s linear; }
