body {
  margin-top: 60px;
  font-size: 1em;
  background: #dddddd; }

section, aside, .banner {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px 20px 10px;
  background: white;
  border: 1px solid #dd4814; }

section header {
  margin-bottom: 5px;
  border-bottom: 2px dotted #dd4814; }
  section header h2 {
    margin-top: 0;
    margin-bottom: 0; }

.banner {
  padding: 10px 0px;
  border: 20px double #dd4814; }
  .banner h1, .banner h2, .banner h3, .banner h4 {
    margin: 30px 10px;
    text-align: center; }

.thumbnail {
  background: white; }

.schedule-overview {
  margin: 20px 0px; }
  .schedule-overview td {
    width: 200px;
    padding: 5px;
    border: solid 1px #996633;
    font-size: 1.1em;
    text-align: center; }

.homepage-action-buttons {
  text-align: center; }
  .homepage-action-buttons a {
    margin: 10px 20px;
    font-size: 2em; }
