.social
  .g-plusone(data-annotation="bubble" data-size="medium" data-width="90")
  .twitter-button
    %a.twitter-share-button(href="https://twitter.com/share" data-lang="en") Tweet
  .fb-like(data-send="true" data-layout="button_count")
