%article.row
  .span9
    %header.banner
      %h1 Hong Kong Coders Camp 2012
      %h2 ~ 24 Hours Iterative Coding ~
      %h4 Date: 12 Oct (Fri) ~ 13 Oct (Sat)
      %h4 Time: 19:00 ~ 19:00
      %h4 Venue: To Be Confirmed

      .homepage-action-buttons
        =link_to "Register Now", "#", class: "btn btn-large"

    %section
      %header
        %h2 How does it work

      %ol
        %li Register.
        %li Propose ideas.
        %li Vote for ideas you like.
        %li A shortlist will be finalized after 5 weeks election period.
        %li Coders are then organized into small teams (2 - 4 per team)
        %li Come together on 12th Oct and start coding

      %p
        We are not going to enforce rules like your boss dictating what you have to build.
      %p
        But we try our best to make sure you will have a great time with other coders.

    %section
      %header
        %h2 Schedule

      %table.schedule-overview
        %thead
          %tr
            %th 20 Aug ~ 23 Sep
            %th 24 Sep ~ 30 Sep
            %th 31 Sep ~ 12 Oct
            %th 12 Oct ~ 13 Oct
        %tbody
          %tr
            %td= link_to "Idea Election", "#"
            %td= link_to "Finalists Annoucement", "#"
            %td= link_to "Team Formation", "#"
            %td= link_to "CODE", "#"

      %ol
        %li Stage 1. Idea Election
        %li Stage 2. Shortlisting Project list
        %li Stage 3. Team Formation
        %li Stage 4. Code

    %section
      %header
        %h2 What to build

      %p We don't care if the system you build is solving 1,000,000 dollars problem or not.
      %p We don't give a shit about the business model.
      %p We just want you to build something fun together.

    %section
      %header
        %h2 Why ?

      %p.lead
        You are not the only GEEK in the village !
      %p
        There are so many passionated coders like you, who wanna spend time and effort on something interesting.
      %p
        Just come and do something. I don't have to give you reason at all.

    %section
      %header
        %h2 Who can join ?

      %p
        If you are interested in coding, come and join us.
      %p
        The event is programming language ignostic. You can pick whatever you like from your toolbox to make it happen.


    %section
      %header
        %h2 Equipment and Sponsors

      %p
        We are in the process talking to software and hardware sponsors.
      %p
        Here are things we will provide for sure:
      %ul
        %li sleeping bags
        %li snacks and drinks ( beer, redbull, ...)

    %section
      %header
        %h2 You have a question ?
      %p
        Check out our
        =link_to "FAQ", "#"
        or talk to us at @codeaholicshk
      %p
        subscribe to Codeaholics HK mailing list
      %p
        Note: this whole thing was proposed at Codeaholics HK August Meetup.
        =link_to "Proposal", "http://codeaholics-hk-camp-2012.herokuapp.com/"

  .span3
    %aside.well
      %h3 Wanna join ?
      %p
        Register with your
        =link_to( image_tag("github.png", title: "Github OAuth"), '/auth/github')

      %hr

      .g-plusone{"data-annotation" => "inline", "data-width" => "300"}
