.row
  .span8 
    %h1.tagline Hong Kong Coders Camp 2012
    %h1.tagline 19:00 12 Oct ~ 19:00 13 Oct
    
    %table.schedule-overview
      %tr
        %td 20 Aug ~ 23 Sep
        %td 24 Sep ~ 30 Sep
        %td 31 Sep ~ 12 Oct
        %td 12 Oct ~ 13 Oct        
      %tr
        %td
          =link_to "Idea Election", "#"
        %td
          =link_to "Finalists Annoucement", "#"
        %td
          =link_to "Team Formation", "#"
        %td
          =link_to "CODE", "#"
    
    .homepage-action-buttons
      =link_to "Register Now", "#", :class => "btn btn-large" 
    
    %hr

    %h2 Finally a coding event for Hong Kong Coders
    %h3 We are having our first (?) Coders Camp ! yay !
    %p
      this whole thing was proposed at Codeaholics HK August Meetup.
      =link_to "Proposal", "http://codeaholics-hk-camp-2012.herokuapp.com/"
    
    %hr
    
    %h2 You are not the only GEEK in the village !
    %p
      There are so many passionated coders wanna spend their time and effort on 
      %span something
      interesting
      %span (* obviously not talking about Hong Kong office work)     
    %p
      Starting from 12<sup>th</sup> Oct evening, we will spend 24 hours together coding
      %span something
      \.
    %ul
      %li sleeping bags
      %li snacks and drinks ( beer, redbull, ...)
      
    %hr
    
    %h2 So... What do we do actually ?!
    
    %h3 Stage 1. Idea Election
    %p 

    %h3 Stage 2. Shortlisting Project list
    %p
      
    %h3 Stage 3. Team Formation
    %p 
           
  .span3.sidebar.pull-right
    %h3 Wanna join ?
    %p
      Sign Up with
      =link_to( "Github", '/auth/github')
      =link_to( image_tag("github.png"), '/auth/github')
      
    %hr
    
    .g-plusone{"data-annotation" => "inline", "data-width" => "300"}
