.row
  .span7
    %h1 Hong Kong Coders Camp
    %h2 19:00 12 Oct ~ 19:00 13 Oct 
  .span3.sidebar.pull-right
    %h3 Wanna join ?
    %p
      Sign Up with
      =link_to( "Github", '/auth/github')
      =link_to( image_tag("github.png"), '/auth/github')
