.block
  .secondary-navigation
    =link_to( "Sign Up with Github", '/auth/github', :class => "btn btn-large")
  .content
    %h2.title
      =pat(:all)
      =mt(:coders)
    .inner
      %ul.thumbnails
        - @coders.each do |coder|
          %li.span3
            .thumbnail
              = gravatar_tag(coder, size: 210)
              %h3= link_to coder.name, coder.github_page

