- if current_account.nil?
  %aside.pull-right
    =link_to( "Register", register_path, class: "btn btn-large")

%article
  %header
    %h1
      Registered Coders


  %ul.thumbnails.coders
    - @coders.each do |coder|
      %li.span3
        .thumbnail.coder
          = gravatar_tag(coder, size: 210)
          %h3= link_to coder.name, coder.github_page

-content_for :javascripts do
  :javascript
    jQuery(function($){
      $(".coder").shuffle();
    });
