- if current_account.nil?
  %aside.pull-right
    =link_to( "Register", register_path, class: "btn btn-large")

%article
  %header
    %h1
      Registered Coders

  %ul.thumbnails.coders
    - @coders.each do |coder|
      %li.span3.coder
        .thumbnail
          = gravatar_tag(coder, size: 210)
          %h3= link_to coder.name, coder.github_page

-content_for :javascripts do
  :javascript
    jQuery(function($){
      var shuffleCoders = function(){
        $(".coder").shuffle();
        $(".coders").masonry("reload");
      }

      $(".coder").shuffle();

      / var $coders = $('.coders');
      / $coders.imagesLoaded(function(){
      /   $coders.masonry({
      /     itemSelector : '.coder'
      /   });
      / 
      /   setInterval(function(){
      /     shuffleCoders();
      /   }, 10000);
      / });
    });
